<?xml version="1.0" encoding="UTF-8"?>
<site>
    <companyName desc="Название компании">ACC School</companyName>
    <footer desc="Футер сайта">© 2018 Учебный центр "Школа Учета"</footer>
    <phone1 desc="Телефон 1">+7 (727) 327 16 20</phone1>
    <phone2 desc="Телефон 2">+7 (777) 212 16 20</phone2>
    <phonebtn desc="Кнопка телефон">+7 (777) 212 16 20</phonebtn>
    <adress desc="Адрес">г. Алматы, ул.Панфилова 110 (уг.ул.Богенбай батыра 132), Блок 2, офис 208</adress>
    <email desc="Почта">info@accsсhool.kz</email>
    <emailSend desc="Почта куда отправляются письма с формы 'Контакты'(Скрыто для всех)">buh7772121620@gmail.com</emailSend>
    <coords desc="Кординаты(Ссылка http://dimik.github.io/ymaps/examples/location-tool/)">43.25290682, 76.94596822</coords>
    <instagram desc="instagram">shkolaucheta</instagram>
    <facebook desc="facebook"></facebook>
    <vkontakte desc="vk"></vkontakte>
</site>
